@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
    --white:#ffff;
    --blue:#3d71dc;

    --light-peach:#f9e3bc;
    --dark-gray:#3e3f43;
    --light-black:#1d1d1d;

}
/* button */
.bg-primary{
    background-color: var(--pink)!important;
}
.home-section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(110deg, white 68%, #ffc800 32%);
}
/* --delail-- */
.watch{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}
.watch-section {
    padding: 60px 15px;
    background-color:#e5e6ea;
}
.watch-title {
    font-weight: bold;
    font-size: 2rem;
}
.watch-description {
    font-size: rem;
    font-family: 'Roboto Slab',serif;
    color: #555;
    margin: 15px 0;
}

.watch-image {
    max-width: 100%;
    border-radius: 10px;
}
.bg-light-pink {
    background-color: #fff5f8;
}
/* --delail-- */
/* button*/

.navbar{
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
}

.btn:not(.nav-btns button ){
    background-color:var(--blue);
    color: white;
    
    border-radius: 20px;
    padding: 8px 20px;
    border: 1px solid rgb(102, 136, 240);
    margin-left: 10px;
}
.btn:not(.nav-btns button ):hover{
    background-color:var(--white);
    color:var(--light-black);
    border-color:var(--light-black)
}
.text-primary{
    color:var(--pink);
}

.navbar-brand img{
    width: 50px;
}
.navbar-brand span{
    letter-spacing:2px;
    font-family:var(--lg-font)
}
.nav-link:hover{
    color: var(--pink) !important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
.carousel -inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}
.carousel-item.btn{
    border-color: #fff;
}
.carousel-item.btn:hover{
    border-color: var(--pink)!important;
}
/* home content */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    font-family: 'Roboto Slab', serif;
}
.home .img{
    flex: 1 1 300px;
}
.home .img img{
    width: 92%;
    animation: c 5s linear infinite;
}
@keyframes c{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
}
.home .content{
    flex: 1 1 400px;
    margin-top: 30px;
}
.content h1{
    margin-left:30px;
    font-size: 65px;
    font-weight: bold;
    text-shadow: -1px 0px 0px black;
}
.content p{
    margin-left: 30px;
}
#btn{
    margin-left: 42px;
}
#btn button{
    background-color:var(--blue) ;
    color: rgb(255, 250, 250);
    padding: 8px 10px;
    border-radius:6px ;
    border: 1px solid rgb(102, 136, 240);
    transition-duration: 0.4s;
}
#btn button:hover{
    background-color:var(--white);
    color: #000;
    border-color:rgb(0,0,0);
    transition-duration: 0.4s;
}
#btn span{
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 17px;
}
#btn span:hover{
    border: 1px solid black
}

@media screen and (max-width:1200px){
    .home-section{
        height: 90vh;
    }
}
@media screen and (max-width:799px){
    .home-section{
        height: 140vh;
    }
}
@media screen and (max-width:550px){
    .home-section{
        height: 110vh;
    }
}
@media screen and (max-width:420px){
    .content h1 span{
        font-size: 80px;
    }
}
@media screen and (max-width:320px){
    .content h1{
        font-size: 50px;
    }
    .content h1 span{
        font-size: 60px;
    }
}
/* home content */
/*top-icon*/
#top-icon{
    margin-top: 5%;
}
#top-icon h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Dancing Script',cursive;
    border-bottom: 2px solid #ffc800;
    text-shadow: 1px 1px 1px black;
    
}
#top-icon i img{
    width: 70px;
}
#top-icon h3{
    font-size: 18px;
    font-family: 'Roboto Slab',serif;
    margin-left: 10px;
}
/*card*/
.card {
    border: 1px solid #eee;
    padding: 10px;
    border: none;
    transition: transform 0.2s;
}
.card:hover {
   transform: translateY(-5px);
}

.card-img-top {
    max-height: 300px;
    object-fit: contain;
    background: #f8f8f8;
    margin-right: 0;
    height: 30vw;
      
}

.card-title {
    font-size: 1rem;
    margin-bottom: 4px;
}

.card-body {
    text-align: center;
    padding: 10px 5px;
}

.price {
    font-size: 0.9rem;
    font-weight: bold;
 }

.old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 0.8rem;
    margin-left: 5px;
}

.discount-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: red;
    color: white;
    padding: 2px 6px;
    font-size: 0.65rem;
    border-radius: 4px;
    font-weight: bold;
}

/*end-card*/
/* -- Galaxy Offer Section -- */
.watch-image {
    max-width: 100%;
    height: auto;
   
  }
  .custom-btn {
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    font-weight: bold;
  }
  .section-five section h1 {
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    font-weight: bold;
  }
/* -- Galaxy Offer Section -- */
/*img*/
.grid-card-container{
    width: 60%;
    height: 80vh;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(2,1fr);
    gap: 1.2rem;
    grid-auto-rows:15rem ;
}
.grid-card {
    background: var(--light-peach) center/cover no-repeat;
    position: relative;
  }
  
  /* Set background images */
  .grid-card:nth-child(1) { grid-row: 1 / 4; background-image: url("image/D1 Milano.jpg"); }
  .grid-card:nth-child(2) { background-image: url("image/img.jpg"); }
  .grid-card:nth-child(3) { grid-row: 1 / 3; background-image: url("image/The Hybrid.jpg"); }
  .grid-card:nth-child(4) { grid-row: 3 / 4; background-image: url("image/Electricianz.jpg"); }
  .grid-card:nth-child(5) { background-image: url("image/Z White.jpg"); }
  .grid-card:nth-child(6) { background-image: url("image/1m1.jpg"); }
  
  /* Overlay */
  .grid-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.54);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1s ease-in-out;
  }
  
  .grid-card:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  /* Text label on hover */
  .grid-card::after {
    content: attr(collection);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--light-peach);
    padding: 1rem 1.7rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out;
  }
  
  .grid-card:hover::after {
    opacity: 1;
    visibility: visible;
  }
  .watch-img{
    max-width: 100%;
    border-radius: 10px;
  }
  .watch-img:hover{
    transform: scale(1.2);
    transition: 2s;
  }
  #ProductImage{
    background-color: #f9f9f9;
  }
.letter-spacing {
  letter-spacing: 4px;
}

h3 {
  letter-spacing: 1.5px;
}

button {
  font-weight: 500;
}
.bg-light h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#about{
    background-color: rgba(179, 179, 179, 0.05);
}
  /* Responsive layout */
  @media (max-width: 500px) {
    .grid-card-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      width: 90%;
    }
    .grid-card:nth-child(1),
    .grid-card:nth-child(3) {
      grid-row: 1 / 2;
    }
  }
  /* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}
